.OurPatientsLoveUs{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 3rem;
}
.OurPatientsLoveUs .title{
    width: 100%;
    font-size: 2.5rem;
    font-family: 'Lasiver-Medium';
    font-weight: lighter;
    padding-left: 3rem;
}
.carouselDiv {
    background-color: #007737;
    border-radius: 34px;
    margin-top: 20px;
    width: 93%;
}
.carouselItems {
    display: flex;
    justify-content: space-between;
    display: flex;
    padding: 46px 77px;
    align-items: flex-start;
    gap: 53px;
}
.c_item {
    background-color: #fff;
    border-radius: 24px;
    padding: 25px;
    line-height: 16px;
    height: 19rem;
    width: 23rem;
}
.c_item p {
    margin: 0px;
}
.c_item .head {
    font-family: 'Lasiver-Medium';
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
}
.c_item .body {
    font-family: 'Inter';
    font-size: 18px;
    font-weight:300;
    margin-bottom: 20px;
    line-height: 26px;
    height: 153px;
}
.c_item .star {
    width: 15px;
    margin-right: 5px;
}
.c_item .user {
    margin-right: 15px;
    width: 30px;
}
.c_item .footer {
    font-family: 'Inter';
    font-size: 18px;
    font-weight:300;
    display: flex;
    align-items: center;
}
.scroll {
    display: flex;
    justify-content: center;
    padding-bottom: 40px;

}

.scrollItem {
    background-color: #eee;
    border-radius: 50px;
    width: 16px;
    margin: 5px;
    font-size: 12px;
    cursor: pointer;
}
.vh {
    visibility: hidden;
}

