.chooseFromThousands,
.theDoctorWill {
  align-self: stretch;
  position: relative;
  line-height: 46px;
}
.chooseFromThousands {
  font-size: 18px;
  line-height: 25px;
  font-family: Inter;
}
.theDoctorWillSeeYouNowParent {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
}
.vectorIcon {
  position: relative;
  width: 32.36px;
  height: 32.36px;
}
.icons,
.variations {
  width: 36px;
  height: 36px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.variations {
  border-radius: 10px;
  background-color: #007737;
  border: 5px solid #007737;
  box-sizing: border-box;
  width: 50px;
  height: 50px;
}
.sexuallyTransmittedDiseases {
  align-self: stretch;
  position: relative;
  line-height: 25px;
}
.divsc1fegqzc10 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}
.cardAcordion {
  align-self: stretch;
  flex: 1;
  border-radius: 30px;
  background-color: #007737;
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: flex-start;
  justify-content: space-between;
  color: #fff;
}
.iconsChild {
  position: relative;
  width: 29px;
  height: 33.06px;
}
.variations1 {
  border-radius: 10px;
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.cardAcordion1 {
  align-self: stretch;
  flex: 1;
  border-radius: 30px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: flex-start;
  justify-content: space-between;
}
.groupIcon,
.iconsInner,
.iconsItem {
  position: relative;
  width: 23.87px;
  height: 33.28px;
}
.groupIcon,
.iconsInner {
  height: 33.95px;
}
.groupIcon {
  width: 27.5px;
  height: 31.01px;
}
.iconsChild1,
.iconsChild2 {
  position: relative;
  width: 28.25px;
  height: 35.23px;
}
.iconsChild2 {
  width: 24.45px;
  height: 31.75px;
}
.iconsChild3,
.iconsChild4 {
  position: relative;
  width: 28.71px;
  height: 26.5px;
}
.iconsChild4 {
  width: 18.75px;
  height: 32px;
}
.cardAcordionParent {
  align-self: stretch;
  display: flex;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 2rem;
}
.text {
  position: relative;
  line-height: 25px;
}


.diseaseSelectInfo {
  border-radius: 12px;
  background-color: #f2f6ee;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  flex-direction: row;
  padding: 10px 16px;
  align-items: center;
  margin-top: 0.5rem;
  opacity: 1;
  animation: fade-in-animation 0.2s;
}

.selectParent {
  gap: 10px;
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
}


.diseaseCategories {
  overflow-x: auto;
  overflow-y: hidden;
  border-radius: 30px;
  background-color: #d5e6cf;
  width: 97vw;
  box-sizing: border-box;
  align-items: flex-start;
  gap: 40px;
  font-size: 14px;
  color: #404042;
  font-family: Inter;
  padding:2rem;
}

.frameParent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
  padding: 0 1rem;
  align-items: center;
  gap: 35px;
  text-align: left;
  font-size: 1.75rem;
  color: #1d2f28;
  font-family: Lasiver-Medium;

}
.diseases{
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
  margin-top: 1rem;
  
}

@media (min-width: 1896px) {
  .cardAcordionParent{
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row-reverse;
  }
}

@media (min-width: 1322px) {
  .cardAcordionParent{
    justify-content: flex-start;
  }
}

@media (min-width: 900px) {
  .diseases{
    
    grid-template-columns: 1fr 1fr;
  }
  .cardAcordionParent{
    gap: 10px;
  }
  .diseaseCategories{
    width: 100%;
    font-size: 18px;
  }
}

@media (min-width: 800px) {
  .cardAcordionParent{
    display: flex;
  }
  .frameParent{
    padding: 0 3rem;
    font-size: 40px;
  }
}

@media (min-width: 500px) {
  .diseaseCategories{
    font-size: 18px;
  }
}

@keyframes fade-in-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes headshake {
  0% {
    transform: rotate(0deg);
  }
  5% {
    transform: rotate(-5deg);
  }
  10% {
    transform: rotate(4deg);
  }
  15% {
    transform: rotate(-3deg);
  }
  20% {
    transform: rotate(2deg);
  }
  25% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
